.nav-link{
    color: grey;
}

main #sidebar{
    background: url(../img/sidebar-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}



.button{
    background-color: #165BBA;
}

